<nav class="w-64 h-screen bg-zinc-800 p-4 flex flex-col gap-4">
  <header class="flex flex-row justify-start items-center gap-4 border-b-2 border-zinc-600 pb-4">
    <hlm-avatar>
      <span class="text-white bg-zinc-500" hlmAvatarFallback>
        <hlm-icon size="base" name="lucideUser" />
      </span>
    </hlm-avatar>
    <p>ABC123</p>
  </header>

  <section>
    <div class="flex flex-row justify-between items-center rounded-md bg-zinc-700 px-2">
      <input class="w-5/6 border-none py-2 focus-visible:border-none focus-visible:outline-none bg-transparent" placeholder="ID do usuário" />
      <hlm-icon class="flex-1" name="lucideSearch" size="base" />
    </div>
  </section>
</nav>