@if (message.message.type === "text") {
  <p class="">{{ message.message.content }}</p>
} @else {
  <img
    [src]="message.message.content"
    alt="image"
    class="w-full h-56 object-cover rounded-md"
  />
}
<div
  [class]="
    'flex justify-between gap-1 ' + (isMy ? 'flex-row' : 'flex-row-reverse')
  "
>
  <p class="text-gray-200 text-xs">{{ formattedDate(message.created_at) }}</p>
  <!-- @if (isMy) {
    <hlm-icon
      name="lucideCheckCheck"
      size="sm"
      [color]="message.read ? '#3DF2F2' : ''"
    />
  } -->
</div>
