<hlm-dialog class="w-full">
  <button
    brnDialogTrigger
    class="flex w-full flex-row items-center gap-2 hover:bg-zinc-600 p-2 rounded-md cursor-pointer"
  >
    <hlm-avatar variant="medium">
      <span class="text-white bg-teal-500" hlmAvatarFallback>
        <hlm-icon size="sm" name="lucideMessageCirclePlus" />
      </span>
    </hlm-avatar>
    <p class="text-sm">Nova conversa</p>
  </button>

  <hlm-dialog-content
    class="sm:max-w-[425px] max-w-[90%] m-auto bg-zinc-700"
    *brnDialogContent="let ctx"
  >
    <hlm-dialog-header class="flex flex-row gap-2 items-center">
      <div>
        <hlm-avatar variant="small">
          <span class="text-white bg-teal-500" hlmAvatarFallback>
            <hlm-icon size="sm" name="lucideMessageCirclePlus" />
          </span>
        </hlm-avatar>
      </div>
      <div class="flex flex-col items-start">
        <h3 hlmDialogTitle>Nova conversa</h3>
        <p hlmDialogDescription class="text-start">
          Adicione um novo contato para iniciar uma conversa
        </p>
      </div>
    </hlm-dialog-header>
    <form [formGroup]="newChatForm">
      <div class="py-4 gap-4">
        <div class="items-center gap-4 flex flex-row flex-wrap">
          <label hlmLabel for="name" class="text-right">ID</label>
          <div class="flex flex-col gap-2">
            <input
              formControlName="id"
              hlmInput
              [maxLength]="8"
              [minLength]="8"
              id="name"
              placeholder="Contém 8 números"
              class="col-span-3 border-zinc-400"
              pattern="[0-9]*"
              (input)="onInput($event)"
            />
          </div>
        </div>
      </div>
      <hlm-dialog-footer>
        <button (click)="onChatCreate()" hlmBtn type="submit">
          Iniciar conversa
        </button>
      </hlm-dialog-footer>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
