@if (chatId) {
  <div
    class="bg-zinc-600 flex flex-row justify-start items-center gap-4 py-2 px-4"
  >
    <hlm-avatar variant="medium">
      <span class="text-white bg-zinc-500" hlmAvatarFallback>
        <hlm-icon size="sm" name="lucideUser" />
      </span>
    </hlm-avatar>
    <div
      class="flex flex-col flex-nowrap justify-center items-start overflow-hidden"
    >
      <p class="text-sm">{{ chatId }}</p>
      <!-- <p class="text-xs text-nowrap">online</p> -->
    </div>
  </div>
  <main
    class="w-full overflow-auto flex flex-col-reverse gap-6 container flex-1 justify-start"
    #messagesContainer
  >
    @if (messages.length > 0) {
      @for (message of messages; track $index) {
        <app-chat-message
          [class]="
            (message.receiver_id == getMyId()
              ? 'bg-teal-700 self-start items-start'
              : 'bg-zinc-700 self-end items-end') +
            ' min-w-60 max-w-[50%] p-2 rounded-lg flex flex-col gap-2'
          "
          [message]="message"
        ></app-chat-message>
      }
    } @else {
      <div
        class="flex flex-col justify-center items-center w-full h-full gap-4"
      >
        <hlm-icon name="lucideMessageCircle" size="lg" />
        <p class="text-lg">Nenhuma mensagem</p>
      </div>
    }
  </main>
  <form
    [formGroup]="messageForm"
    class="flex flex-row self-center items-end w-full gap-2 container mb-4"
  >
    @if (imageSelected) {
      <div
        class="flex-1 bg-zinc-700 flex flex-col justify-center items-start gap-2 p-4 relative rounded-lg"
      >
        <button
          (click)="onCloseFile()"
          hlmBtn
          size="sm"
          variant="destructive"
          class="rounded-full absolute top-2 left-2"
        >
          <hlm-icon class="flex-1" name="lucideX" size="xs" />
        </button>

        <img class="object-contain h-56 rounded-md" [src]="imageSelectedUrl" />
        <p class="font-mono text-xs">Nome: {{ imageSelected.name }}</p>
        <p class="font-mono text-xs">
          Tamanho: {{ (imageSelected.size / 1000).toFixed(2) }} KB
        </p>
      </div>
    } @else {
      <textarea
        formControlName="message"
        class="flex-1 h-16"
        hlmInput
        placeholder="Mensagem"
      ></textarea>
    }

    <button hlmBtn size="icon" variant="secondary" (click)="fileInput.click()">
      <input
        accept=".png, .jpeg, .jpg"
        type="file"
        class="hidden"
        #fileInput
        (change)="onFileSelected($event)"
      />
      <hlm-icon class="flex-1" name="lucideImageUp" size="sm" />
    </button>

    <button (click)="onSendMessage()" hlmBtn size="icon">
      <hlm-icon class="flex-1" name="lucideSendHorizontal" size="sm" />
    </button>
  </form>
} @else {
  <div class="flex flex-col justify-center items-center w-full h-full gap-4">
    <hlm-icon name="lucideMessageCircle" size="lg" />
    <p class="text-lg">Selecione uma conversa</p>
  </div>
}
